extends ../../layouts/default.pug

include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main
  +alert-success(5000)
  +alert-error(5000)

  .container.my-3
    .row
      .col-12
        +box-head("Giỏ hàng")

    .row
      .col-12
        table(class="table table-bordered")
          thead
            tr
              th STT
              th Ảnh
              th Tên
              th Giá
              th Số lượng
              th Tổng tiền 
          tbody
            if carts && carts.products.length > 0
              each cart, index in carts.products
                tr
                  td #{index + 1}
                  td
                    img(src=cart.productInfo.thumbnail, alt=cart.productInfo.title width="80px")
                  td #{cart.productInfo.title}
                  td #{cart.productInfo.newPrice}$
                  td #{cart.quantity}
                  td #{cart.totalPrice}$
            else
              tr
                td(colspan="7" class="text-center") Giỏ hàng trống

        h3(class="text-right") Tổng tiền: #{carts.totalPrice}$

    if carts && carts.products.length > 0
      .row 
        .col-12
          .card.p-4.my-4
            form(
              action="/checkout/order"
              method="POST"
            )
              div(class="form-group")
                label(for="name") Họ tên
                input(
                  type="text"
                  class="form-control"
                  id="name"
                  name="name"
                  required
                )

              div(class="form-group")
                label(for="phone") Số điện thoại
                input(
                  type="text"
                  class="form-control"
                  id="phone"
                  name="phone"
                  required
                )

              div(class="form-group")
                label(for="address") Địa chỉ
                input(
                  type="text"
                  class="form-control"
                  id="address"
                  name="address"
                  required
                )
              div(class="form-group")
                button(
                  type="submit"
                  class="btn btn-success btn-block"
                ) Thanh toán


