extends ../../layouts/default.pug

block main
  h1(class="mb-4") Phân quyền

  div(class="text-right")
    button(
      type="submit"
      class="btn btn-primary mb-3"
      button-submit
    ) Cập nhật

  if records.length > 0
    table(
      class="table table-hover table-sm"
      table-permission
    )
      thead
        tr
          th Tính năng
            each item in records
              th(class="text-center") #{item.title}

      tbody
        tr(
          class='d-none'
          data-name='id'
        )
          td
          each item in records
            td(class='text-center')
              input(type='text' value=item.id)
        tr
          td(colspan="4")
            b Danh mục sản phẩm

        tr(data-name="products-category_view")
          td Xem
          each item in records
            td(class="text-center")
              input(type="checkbox")

        tr(data-name="products-category_create")
          td Thêm mới
          each item in records
            td(class="text-center")
              input(type="checkbox")

        tr(data-name="products-category_edit")
          td Chỉnh sửa
          each item in records
            td(class="text-center")
              input(type="checkbox")

        tr(data-name="products-category_delete")
          td Xóa
          each item in records
            td(class="text-center")
              input(type="checkbox")

    form(
      action=`${prefixAdmin}/roles/permission?_method=PATCH`
      method='POST'
      form-control
    )
      input(
        id='permissions'
        name='permissions'
        class='d-none'
        value=''
      )
  else
    p --không tồn tại bạn cần thêm phân quyền--
    a(
      href=`${prefixAdmin}/roles`
      class='btn btn-outline-success'
    ) + Thêm mới

  script(src='/admin/js/permission.js')
