extends ../../layouts/default.pug

include ../../mixins/alert.pug

block main 
  +alert-error(5000)

  .container.my-5
    .row.justify-content-center
      .col-md-6.col-lg-5
        h1.text-center.mb-4 #{titlePage}  

        form(action="/user/password/reset", method="POST", autocomplete="off")
          .form-group
            label(for="password") Mật khẩu mới
            input#password.form-control(
              type="password",
              name="password",
              required,
              placeholder="Nhập địa chỉ password"
            )

          .form-group
            label(for="conformPassword") Xác nhận mật khẩu
            input#conformPassword.form-control(
              type="password",
              name="conformPassword",
              required,
              placeholder="xác nhận mật khẩu"
            )

          button.btn.btn-primary.btn-block(type="submit") Đổi mật khẩu
