extends ../../layouts/default.pug

include ../../mixins/alert.pug

block main 
  +alert-success(5000)
  +alert-error(5000)

  h1(class='mb-4') Điều chỉnh thông tin cá nhân

  .card.mb-3
    .card-header Điều chỉnh thông tin cá nhân
    .card-body
      form(
        action=`${prefixAdmin}/replace-password/edit?_method=PATCH`
        method="POST"
      )
        div(class="form-group")
          label(for="email") Email
          div(
            type="email"
            class="form-control"
            id="email"
          ) #{user.email}

        div(class="form-group")
          label(for="password") Mật khẩu mới *
          input(
            type="password"
            class="form-control"
            id="password"
            name="password"
            required
          )
          small.text-muted.d-block.mt-1
            | Mật khẩu phải có:
            ul.mb-0
              li Ít nhất 1 chữ in hoa (A–Z)
              li Ít nhất 1 chữ thường (a–z)
              li Ít nhất 1 chữ số (0–9)
              li Ít nhất 1 ký tự đặc biệt (@, #, !, v.v.)
              li Không chứa khoảng trắng
              li Độ dài từ 8 đến 16 ký tự

        div(class="form-group")
          label(for="password_check") Xác thực lại mật khẩu mới *
          input(
            type="password"
            class="form-control"
            id="password_check"
            name="password_check"
            required
          )
        
        div(class="form-group")
          button(
            type="submit"
            class="btn btn-primary"
          ) Cập nhật
        


